@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}


.dashboardContainer {
  display: flex;
  height: 100vh; /* Full viewport height */
  overflow: auto; /* Prevents overflow issues */

  /* Optional: Add padding and background color for styling */
  padding: 20px;
  background-color: #f0f0f0;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto; /* Centers the content horizontally */
  height: 100%; /* Occupies full height of parent */
  top: 20%;
  padding: 20px; /* Example padding */
 
}

#tableContainer {
  width: 60vw;
  border-radius: 15px;
  border: 2px solid black;
  
}

.avatar-container {
  position: relative;
}

.cart-link {
  position: relative;
  text-decoration: none;
}

.profileContainer {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #007bff; /* Change color as desired */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: 30px; /* Adjust as needed */
  right: 30px; /* Adjust as needed */
  cursor: pointer;
}
.avatar:hover {
  opacity: 0.9
}

@media only screen 
and (min-device-width : 345px) 
and (max-device-height : 899px) 
 { 
  .sidebar {
    width: 32vw !important;
  }
  .sidebar.close {
    width: 0 !important;
  }

  .paraDiv {
    top: 0 !important;
  }

  #sideIcon {
    display: none;
  }

  #tableContainer {
    width: 90vw;
  }
  .dashboardContainer {
    padding: 0;
  }
  .contentContainer {
    padding: 0;
    overflow-y: auto;
  }

  .roomsCard {
    justify-content: center;
    top: 30% !important;
  }
  .sidebar .logo-details i {
    position: relative;
    top: 24px;
  }

  #profileCountryDiv {
    top: -150px !important;
    padding-left: 25px;
    padding-right: 28px;
  }

  #saveProfileButton {
    position: relative;
    top: 150px;
  }
  .profileContainer {
    overflow-y:scroll;
  }
 }